$loading-time: "0.1";

.dot-loader {
  animation: "bounce 1s infinite";
}

.dot-loader-second {
  animation-delay: $loading-time/3"s";
}

@keyframes loading {
  0%,
  100% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
